
// Clearfix stuff
  .container:after { 
    content: "\0020"; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
  }

  .clearfix:before,
  .clearfix:after,
  .row:before,
  .row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
  }

  .row:after,
  .clearfix:after {
  clear: both;
  }

  .row,
  .clearfix {
  zoom: 1;
  }

  .clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}


body {
  background-color: #009900;
  color: #FFFFFF;
  font-family: Verdana, sans-serif;
  text-align: center;
}

#header {
  position: relative;
  width: 95%;
  height: 80px;
  background-color: #114513;
  border-radius: 10px;
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

#title {
  font-size: 35px;
  vertical-align: bottom;
  line-height: 80px;
  margin: 0px;
}

#status {
  z-index: 1;
  position: absolute;
  width: 100%;
  text-align: center;
}

#playerSide {
  float: left;
  width: 50%;
  height: 600px;
  text-align: left;
  vertical-align: middle;
}

#computerSide {
  float: right;
  width: 50%;
  height: 600px;
  text-align: right;
  vertical-align: middle;
}

#playDeck {
  margin-left: 20px;
  padding-top: 15%;
}

#compDeck {
  margin-right: 20px;
  padding-top: 15%;
}

p {
  margin: 20px;
}

.playerText {
  float: right;
}

.computerText {
  float: left;
}

#playerText {
  padding-top: 15%
}

#computerText {
  padding-top: 15%
}

#playerCount {
  float:left;
}

#computerCount {
  float: right;
}

#statusBar {
  float: bottom;
  clear: top;
}